<div class="p-card intro-y">
  <div class="danh-sach-ho-so__head p-3 flex flex-wrap justify-content-between">
    <div>
      <input type="text" [(ngModel)]="filter.search" placeholder="Tìm kiếm" (ngModelChange)="searchData()"
        class="p-inputtext p-component p-element" />
      <p-button label="Thêm hồ sơ nhân sự " styleClass="p-button-link" icon="pi pi-user-plus"
        (click)="btnAdd()"></p-button>
    </div>
    <div>
      <p-dropdown [options]="filterdrp1" (onChange)="onChangeDrp1($event)" [showClear]="true" class="mr-2 w-14rem"
        [style]="{'min-Width':'200px'}" placeholder="Chọn..."></p-dropdown>

      <p-dropdown [options]="filterList" optionLabel="value" (onChange)="onChangeDrp2($event)" class=" w-14rem"
        [style]="{'min-Width':'200px'}" placeholder="Chọn..."></p-dropdown>

    </div>
    <div class="flex justify-content-center text-center">
      <p-button *ngIf="permission.isExpert" label="Xuất excel" styleClass="p-button-link"
        class="flex justify-content-center text-center" icon="pi pi-file-export" (click)="exportExcel()"></p-button>

    </div>

  </div>
  <div class="danh-sach-ho-so__body" id="excel-table">
    <p-table [value]="data_ns" [rows]="10" [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="width: 10rem;">Họ và tên</th>
          <th class="text-center">Ngày sinh</th>
          <th class="text-center">Giới tính</th>
          <th class="text-center">Số điện thoại</th>
          <th class="text-center">Email</th>
          <th class="text-center">Quê quán </th>
          <th class="text-center">Nơi thường trú</th>
          <th class="text-center" style="width: 10rem;">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-NhanSu>
        <tr>
          <td class="text-center" style="max-width: 10rem;">{{NhanSu.hoten}}</td>
          <td class="text-center" style="max-width: 10rem;">{{NhanSu.ngaysinh |date:"dd/MM/yyyy"}}</td>
          <td class="text-center" style="max-width: 10rem;">{{NhanSu.gioitinh}}</td>
          <td class="text-center" style="max-width: 10rem;">{{NhanSu.dienthoai}}</td>
          <td class="text-center" style="max-width: 10rem;">{{NhanSu.email}}</td>
          <td class="text-center" style="max-width: 14rem;">{{NhanSu.quequan}}</td>
          <td class="text-center" style="max-width: 14rem;">{{NhanSu.noithuongtru}}</td>
          <td class="text-center" style="width: 10rem;">
            <button pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-success" icon="pi pi-user"
              (click)="btnDetail(NhanSu)">
            </button>
            <button pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-primary" icon="pi pi-user-edit"
              (click)="btnEdit(NhanSu)">
            </button>
            <button *ngIf="permission.canDelete" pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-danger" icon="pi pi-trash"
              (click)="deleteNhansu(NhanSu)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>




<ng-template #nsFormEdit let-c="close">
  <div class="model-header container p-2 bg-green-500 text-0">
    <h4 class="modal-title">{{formState.formTitle}}</h4>

  </div>
  <div class="container-rps">
    <div class="modal-body ovic-modal-body">
      <form [formGroup]="formData">
        <div class="card" style="padding: 20px;">
          <div class=" row ">
            <div class="col">
              <label class="txt-label" for="">1.Họ và tên:(*)</label>
              <input type="text" placeholder="Họ và tên" class="p-inputtext p-component p-element w-full"
                formControlName="hoten">
            </div>
            <div class="col">
              <label class="txt-label" for="">2.Tên khác:</label>
              <input type="text" placeholder="Tên khác" class="p-inputtext p-component p-element w-full"
                formControlName="hoten_khac">
            </div>
            <div class="col inline-block">
              <label class="txt-label" for="">3.Giới tính:(*)</label>
              <p-dropdown class="w-full" optionLabel="label" optionValue="value" [options]="gioittinh"
                placeholder="Tuỳ chọn" formControlName="gioitinh" [style]="{'minWidth':'100%'}"></p-dropdown>
            </div>

          </div>
          <div class="row flex">
            <div class="col">
              <label class="txt-label" for="">4.Ngày sinh:(*)</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngaysinh">
            </div>
            <div class="col">
              <label class="txt-label" for="">5.Nơi sinh:(*)</label>
              <input type="text" placeholder="Nơi sinh" class="p-inputtext p-component p-element w-full"
                formControlName="noisinh">

            </div>
            <div class="col">
              <label class="txt-label" for="">6.Quê quán:(*)</label>
              <input type="text" placeholder="Quên quán" class="p-inputtext p-component p-element w-full"
                formControlName="quequan">

            </div>

          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">7.Nơi thường trú:(*)</label>
              <input type="text" placeholder="Nơi thường trú" class="p-inputtext p-component p-element w-full"
                formControlName="noithuongtru">
            </div>
            <div class="col">
              <label class="txt-label" for="">8.Nơi ở hiện tại:(*)</label>
              <input type="text" placeholder="Nơi thường trú" class="p-inputtext p-component p-element w-full"
                formControlName="noiohientai">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">9.Số điện thoại:(*)</label>
              <p-inputMask mask="9999999999" placeholder="Số điện thoại" formControlName="dienthoai"
                [style]="{'minWidth':'100%'}"></p-inputMask>
            </div>
            <div class="col">
              <label class="txt-label" for="">10.Email:(*)</label>
              <input type="text" placeholder="Email" class="p-inputtext p-component p-element w-full"
                formControlName="email">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">11.Dân tộc:(*)</label>
              <p-dropdown [options]="dmDantoc" optionValue="ten_dantoc" optionLabel="ten_dantoc" placeholder="Tuỳ chọn"
                formControlName="dantoc" [style]="{'minWidth': '100%'}"></p-dropdown>
            </div>
            <div class="col">
              <label class="txt-label" for="">12.Tôn giáo:(*)</label>
              <p-dropdown [options]="dmTongiao" optionValue="ten_tongiao" optionLabel="ten_tongiao"
                placeholder="Tuỳ chọn" formControlName="tongiao" [style]="{'minWidth': '100%'}"></p-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">13.Nghề nghiệp khi tuyển dụng:(*)</label>
              <input type="text" placeholder="Nghề nghiệp" class="p-inputtext p-component p-element w-full"
                formControlName="congviec_tuyendung">
            </div>
            <div class="col">
              <label class="txt-label" for="">14.1.Ngày tuyển dụng:(*)</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngay_tuyendung">
            </div>
            <div class="col">
              <label class="txt-label" for="">14.2.Cơ quan tuyển dụng:(*)</label>
              <input type="text" placeholder="Cơ quan" class="p-inputtext p-component p-element w-full"
                formControlName="coquan_tuyendung">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="txt-label" for="">15.1.Chức danh:</label>
              <p-dropdown [options]="dmChucdanh" optionValue="ten_chucdanh" optionLabel="ten_chucdanh"
                placeholder="Tuỳ chọn" formControlName="chucdanh" [style]="{'minWidth':'100%'}"></p-dropdown>
            </div>
            <div class="col">
              <label class="txt-label" for="">15.2.Chức vụ:</label>
              <p-dropdown [options]="dmChucvu" optionValue="ten_chucvu" optionLabel="ten_chucvu" placeholder="Tuỳ chọn"
                formControlName="chucvu" [style]="{'minWidth': '100%'}"></p-dropdown>
            </div>
            <div class="col">
              <label class="txt-label" for="">16.Công việc chính:(*)</label>
              <input type="text" placeholder="Công việc chính" class="p-inputtext p-component p-element w-full"
                formControlName="congviec_chinh">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">17.1.Ngạch công chức(viên chức):</label>
              <input type="text" placeholder="Ngạch công chức(viên chức)"
                class="p-inputtext p-component p-element w-full" formControlName="ngach_congchuc">
            </div>
            <div class="col">
              <label class="txt-label" for="">17.2.Mã Ngạch:</label>
              <input type="text" placeholder="Mã Ngạch" class="p-inputtext p-component p-element w-full"
                formControlName="ma_ngach">
            </div>

          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">17.3.Bậc lương:</label>
              <input type="text" placeholder="Bậc lương" class="p-inputtext p-component p-element w-full"
                formControlName="bacluong">
            </div>
            <div class="col">
              <label class="txt-label" for="">17.4.Hệ số lương:</label>
              <input type="text" placeholder="Hệ số lương" class="p-inputtext p-component p-element w-full"
                formControlName="heso">
            </div>
            <div class="col">
              <label class="txt-label" for="">17.5.Ngày Hưởng:</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngay_huong">
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <label class="txt-label" for="">17.6.Phụ cấp chức vụ:</label>
              <input type="text" placeholder="Phụ cấp chức vụ" class="p-inputtext p-component p-element w-full"
                formControlName="phucap_chucvu">
            </div>
            <div class="col">
              <label class="txt-label" for="">17.7.Phụ cấp khác:</label>
              <input type="text" placeholder="Phụ cấp khác" class="p-inputtext p-component p-element w-full"
                formControlName="phucap_khac">
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <label class="txt-label" for="">18.1.Trình độ phổ thông:(*)</label>
              <p-dropdown [options]="dmTrinhdoVanhoa" optionValue="ten_trinhdo" optionLabel="ten_trinhdo"
                placeholder="Tuỳ chọn" formControlName="trinhdo_phothong" [style]="{'minWidth': '100%'}"></p-dropdown>
            </div>
            <div class="col">
              <label class="txt-label" for="">18.2.Trình độ chuyên môn:(*)</label>
              <p-dropdown [options]="dmChucdanh" optionValue="ten_chucdanh" optionLabel="ten_chucdanh"
                placeholder="Tuỳ chọn" formControlName="trinhdo_chuyenmon" [style]="{'minWidth':'100%'}"></p-dropdown>
            </div>
          </div>

          <div class="row ">
            <div class="col">
              <label class="txt-label" for="">18.3.Trình độ lý luận chính trị:</label>
              <p-dropdown [options]="dmTrinhdoChinhtri" optionValue="ten_trinhdo" optionLabel="ten_trinhdo"
                placeholder="Tuỳ chọn" formControlName="lyluan_chinhtri" [style]="{'minWidth': '100%'}"></p-dropdown>
            </div>
            <div class="col">
              <label class="txt-label" for="">18.4.Quản lý nhà nước:</label>
              <input type="text" placeholder="(chuyên viên cao cấp, chuyên viên chính, chuyên viên, cán sự,........)"
                class="p-inputtext p-component p-element w-full" formControlName="quanly_nhanuoc">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">18.5.Ngoại ngữ:</label>
              <input type="text" placeholder="(Ten ngoại ngữ + Trình độ A,B,C...)"
                class="p-inputtext p-component p-element w-full" formControlName="ngoaingu">
            </div>
            <div class="col">
              <label class="txt-label" for="">18.6.Tin học:</label>
              <input type="text" placeholder="(Trình độ A,B,C...)" class="p-inputtext p-component p-element w-full"
                formControlName="tinhoc">
            </div>

          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">19.1.Ngày vào Đảng Cộng sản việt Nam:</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngay_vaoDang">
            </div>
            <div class="col">
              <label class="txt-label" for="">19.2.Ngày chính thức:</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="Ngay_chinhthuc">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">20.Ngày tham gia tổ chức chính trị - xã hội:</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngay_chinhtrixahoi">
            </div>

          </div>

          <div class="row">
            <div class="col">
              <label class="txt-label" for="">21.1.Ngày nhập ngũ:</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngay_nhapngu">
            </div>
            <div class="col">
              <label class="txt-label" for="">21.2.Ngày xuất ngũ:</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngay_xuatngu">
            </div>
            <div class="col">
              <label class="txt-label" for="">21.3.Quân hàm cao nhất:</label>
              <input type="text" placeholder="Quân hàm" class="p-inputtext p-component p-element w-full"
                formControlName="quanham">
            </div>

          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">22.Danh hiệu được phong tặng cao nhất:</label>
              <input type="text"
                placeholder="(Anh hùng lao động, anh hùng lực lượng vũ trang; nhà giáo, thày thuốc, nghệ sĩ nhân dân và ưu tú, …)"
                class="p-inputtext p-component p-element w-full" formControlName="danhhieu_caonhat">
            </div>

          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">23.Sở trường công tác:</label>
              <input type="text" placeholder="Sở trường" class="p-inputtext p-component p-element w-full"
                formControlName="sotruong_congtac">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="txt-label" for="">24.Khen thưởng:</label>
              <input type="text" placeholder="Hình thức cao nhất,năm nào "
                class="p-inputtext p-component p-element w-full" formControlName="khenthuong">
            </div>
            <div class="col">
              <label class="txt-label" for="">25.Kỉ luật:</label>
              <input type="text" placeholder="Hình thức cao nhất,năm nào"
                class="p-inputtext p-component p-element w-full" formControlName="kyluat">
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label class="txt-label" for="">26.1.Sức khoẻ:</label>
              <input type="text" placeholder="(Tốt,khá,yếu...)" class="p-inputtext p-component p-element w-full"
                formControlName="tinhtrang_suckhoe">
            </div>
            <div class="col-3">
              <label class="txt-label" for="">26.2.chiều cao:</label>
              <p-inputMask mask="999 cm" placeholder="nhập chiều cao" formControlName="chieucao"
                [style]="{'maxWidth':'100%'}"></p-inputMask>
            </div>

            <div class="col-3">
              <label class="txt-label" for="">26.3.Cân nặng:</label>
              <p-inputMask mask="999 Kg" placeholder="Cân nặng" formControlName="cannang"
                [style]="{'maxWidth':'100%'}"></p-inputMask>
            </div>
            <div class="col-3">
              <label class="txt-label" for="">26.4.Nhóm máu:</label>
              <input type="text" placeholder="(AB,AB+,O,...)" class="p-inputtext p-component p-element w-full"
                formControlName="nhommau">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="txt-label" for="">27.1.Hạng thương binh:</label>
              <p-inputMask mask="9/9" placeholder="(1/4,2/4,...)" formControlName="hang_thuongbinh"
                [style]="{'minWidth':'100%'}"></p-inputMask>
            </div>
            <div class="col">
              <label class="txt-label" for="">27.2.Là con gia đình chính sách:</label>
              <input type="text" placeholder="(Con thương binh, con liệt sĩ, người nhiễm chất độc da cam Dioxin)"
                class="p-inputtext p-component p-element w-full" formControlName="giadinh_chinhsach">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="txt-label" for="">28.1.Số Căn cước công dân:(*)</label>
              <p-inputMask mask="999999999999" placeholder="Mã số CCCD" formControlName="so_cccd"
                [style]="{'minWidth':'100%'}"></p-inputMask>
            </div>
            <div class="col">
              <label class="txt-label" for="">28.2.Ngày cấp:(*)</label>
              <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngaycap">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="txt-label" for="">29.Số sổ bảo hiểm xã hội:(*)</label>
              <input type="text" placeholder="Số sổ bảo hiểm xã hội" class="p-inputtext p-component p-element w-full"
                formControlName="so_bhxh">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="txt-label" for="">30.Phòng ban làm việc:(*)</label>
              <!-- <input type="text" placeholder="Tên phòng ban" class="p-inputtext p-component p-element w-full"
                formControlName="phongban"> -->
              <p-dropdown [options]="dmPhongban" optionValue="ten_phongban" optionLabel="ten_phongban"
                [showClear]="true" placeholder="Tuỳ chọn..." formControlName="phongban"
                [style]="{'minWidth': '100%'}"></p-dropdown>
            </div>
          </div>



        </div>
      </form>
    </div>
  </div>

  <span class="ml-3 block font-italic text-red-700 text-sm">(*):Thông tin bắt buộc nhập</span>
  <div class="flex ml-3 ">
    <button (click)="updateForm()" [disabled]="formData.invalid" pButton pRipple
      class=" mr-2 max-w-10rem p-button-success" icon="pi pi-save" label="Xác nhận"></button>
    <button pR ipple pButton type="button" class="p-button p-button-danger" icon="pi pi-times"
      (click)="btnCancel()"></button>
  </div>
</ng-template>
