<div class="surface-ground px-0 px-md-3 pt-3">
  <div class="px-md-2 row">
    <div class="col m-1">
      <div class="ovic-admin-col__wrap-content__element surface-400">
        <div class="row flex justify-content-center p-4 text-xl font-medium">Tổng số hồ sơ </div>
        <div class="row flex justify-content-center p-4 text-5xl font-medium">{{sum_ns}}</div>
      </div>
    </div>
    <div class="col m-1">
      <div class="ovic-admin-col__wrap-content__element surface-400">
        <div class="row flex justify-content-center p-4 text-xl font-medium">Nam </div>
        <div class="row flex justify-content-center p-4 text-5xl font-medium">{{sum_gioitinh_nam}}</div>
      </div>
    </div>
    <div class="col m-1">
      <div class="ovic-admin-col__wrap-content__element surface-400">
        <div class="row flex justify-content-center p-4 text-xl font-medium">Nữ</div>
        <div class="row flex justify-content-center p-4 text-5xl font-medium">{{sum_gioitinh_nu}}</div>
      </div>
    </div>
    <div class="col m-1">
      <div class="ovic-admin-col__wrap-content__element surface-400">
        <div class="row flex justify-content-center p-4 text-xl font-medium">Dân tộc </div>
        <div class="row flex justify-content-center p-4 text-5xl font-medium">{{sum_dantoc}}</div>
      </div>
    </div>
    <div class="col m-1">
      <div class="ovic-admin-col__wrap-content__element surface-400">
        <div class="row flex justify-content-center p-4 text-xl font-medium">Tôn giáo</div>
        <div class="row flex justify-content-center p-4 text-5xl font-medium">{{sum_tongiao}}</div>
      </div>
    </div>
  </div>


  <div class="surface-ground px-0 px-md-3 pt-3">
    <div class="px-md-2 row">
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="d-block surface-card__title mb-3">Nhân sự nhỏ hơn 30 tuổi</span>
            </div>
            <div class="d-flex align-items-center justify-content-center bg-blue-100 border-round"
              style="width:42px;height:42px">
              <i class="pi pi-user text-blue-500 text-size-20"></i>
            </div>
          </div>
          <span class="surface-card__text-highlight">{{countPersonByAges.thirtyYld}}</span>
          <span class="surface-card__text font-medium"> Nhân sự</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="d-block surface-card__title mb-3">Nhân sự từ 30 - 45 tuổi</span>
            </div>
            <div class="d-flex align-items-center justify-content-center bg-orange-100 border-round"
              style="width:42px;height:42px">
              <i class="pi pi-user text-orange-500 text-size-20"></i>
            </div>
          </div>
          <span class="surface-card__text-highlight">{{countPersonByAges.fromThirtyToFortyFiveYld}}</span>
          <span class="surface-card__text font-medium"> Nhân sự</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="d-block surface-card__title mb-3">Nhân sự từ 45 - 60 tuổi</span>
            </div>
            <div class="d-flex align-items-center justify-content-center bg-cyan-100 border-round"
              style="width:42px;height:42px">
              <i class="pi pi-user text-cyan-500 text-size-20"></i>
            </div>
          </div>
          <span class="surface-card__text-highlight">{{countPersonByAges.fromFortyFiveToSixtyYld}}</span>
          <span class="surface-card__text font-medium"> Nhân sự</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="d-block surface-card__title mb-3">Nhân sự đã về hưu </span>
            </div>
            <div class="d-flex align-items-center justify-content-center bg-purple-100 border-round"
              style="width:42px;height:42px">
              <i class="pi pi-user text-purple-500 text-size-20"></i>
            </div>
          </div>
          <span class="surface-card__text-highlight">{{sum_nghihuu}} </span>
          <span class="surface-card__text font-medium"> Nhân sự</span>
        </div>
      </div>
    </div>
  </div>

  <div class="surface-ground px-0 px-md-3 pt-3">
    <div class="px-md-2 row">
      <div class="col-12 col-md-4 mb-3">
        <div class="surface-card p-4 text-center">
          <img src="assets/images/home/windows.svg" alt="Image" class="d-block mb-4 ml-auto mr-auto">
          <div class="surface-card__title--type-2 ">Hồ sơ nhân sự</div>
          <button pButton pRipple label="Bắt đầu" icon="pi pi-arrow-right p-button-rounded" class="p-button"
            (click)="btnGetNhansu()"></button>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="surface-card p-4 text-center">

          <img src="assets/images/home/live-collaboration.svg" alt="Image" class="d-block mb-4 ml-auto mr-auto">
          <div class="surface-card__title--type-2">Quy hoạch</div>

          <button pButton pRipple label="Bắt đầu" icon="pi pi-arrow-right p-button-rounded" class="p-button"
            (click)="btnGetQuyhoach()"></button>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="surface-card p-4 text-center">
          <img src="assets/images/home/security.svg" alt="Image" class="d-block mb-4 ml-auto mr-auto">
          <div class="surface-card__title--type-2">Nghỉ phép</div>

          <button pButton pRipple label="Bắt đầu" icon="pi pi-arrow-right p-button-rounded" class="p-button"
            (click)="btnGetNghichedo()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="surface-ground px-0 px-md-3 pt-3">
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <div class="surface-card p-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="surface-card__title--type-3">Sales</div>
          <div>
            <button pButton pRipple icon="pi pi-ellipsis-v"
              class="p-button-rounded p-button-text p-button-plain"></button>
          </div>
        </div>
        <img src="assets/images/home/chart-line.svg" alt="Image" class="w-100">
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="surface-card p-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="surface-card__title--type-3">Customers</div>
          <div>
            <button pButton pRipple icon="pi pi-ellipsis-v"
              class="p-button-rounded p-button-text p-button-plain"></button>
          </div>
        </div>
        <img src="assets/images/home/chart-bar.svg" alt="Image" class="w-100">
      </div>
    </div>
  </div>
</div>
 -->
