<div class="p-card intro-x">
  <div class="danh-sach__head p-3 ">

    <button *ngIf="permission.canAdd" pButton pRipple class="p-button-outlined mr-2" label="Thêm đối tượng"
      styleClass="p-button-link " icon="pi pi-plus " (click)="btnAdd()"></button>
    <button *ngIf="permission.isExpert" [disabled]="hoSo_backup && hoSo_backup.length? false: true" pButton pRipple
      type="button" label="Huỷ duyệt" class="p-button-raised p-button-warning mr-2 w-8rem" (click)="backupRove()"></button>
    <button *ngIf="permission.isExpert" [disabled]="hoSo_backup && hoSo_backup.length? false: true" pButton pRipple
      type="button" label="Duyệt" class="p-button-raised p-button-success w-8rem" (click)="appRove()"></button>
  </div>
  <div class="danh-sach-ho-so__body">
    <p-table [value]="hoSoHocTap" selectionMode="multiple" [(selection)]='hoSo_backup'
      styleClass="p-datatable-customers" [selectionPageOnly]="true" [rowHover]="true">
      <ng-template pTemplate="header">
        <tr>
          <th class="table_request text-center"> <p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th class="table_request text-center" pSortableColumn="hoten">Họ và tên</th>
          <th class="table_request text-center" pSortableColumn="ngaysinh">Ngày sinh</th>
          <th class="table_request text-center" pSortableColumn="phongban">Phòng ban</th>
          <th class="table_request text-center" pSortableColumn="trangthai">Trạng thái</th>
          <th class="table_request text-center">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hoSoHocTap>
        <tr>
          <td style="width: 4rem">
            <p-tableCheckbox [value]="hoSoHocTap"></p-tableCheckbox>
          </td>
          <td class="text-center">{{hoSoHocTap.hoten}}</td>
          <td class="text-center">{{hoSoHocTap.ngaysinh | date: "dd/MM/yyyy"}}</td>
          <td class="text-center">{{hoSoHocTap.phongban}}</td>
          <td class="text-center">
            <div class="border-round-md p-2 " [ngClass]="hoSoHocTap['bg_trangthai']"> {{hoSoHocTap['trangthai_label']}}
            </div>
          </td>
          <td class="text-center">

            <button pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-primary" icon="pi pi-file-edit"
              (click)="btnEdit(hoSoHocTap)">

            </button>
            <button *ngIf="permission.canDelete" pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-danger" icon="pi pi-trash"
              (click)="btnDelete(hoSoHocTap)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<ng-template #nsFormEdit let-c="close">
  <div class="model-header container mt-3">
    <h4 class="modal-title">{{formState.formTitle}}</h4>

  </div>
  <div class="modal-body ovic-modal-body">
    <form [formGroup]="formData">
      <div class="card" style="padding: 20px;">
        <div class=" row mb-2">

          <div class="col">
            <label class="txt-label" for="">Họ và tên:</label>
            <input type="text" pinputtext="" placeholder="Họ và tên" class="p-inputtext p-component p-element w-full"
              formControlName="hoten">
          </div>
          <div class="col">
            <label class="txt-label" for="">Ngày sinh:</label>
            <input type="date" [style]="{'minWidth':'100%'}" pInputText formControlName="ngaysinh">
          </div>
        </div>
        <div class="row mb-2">

          <div class="col">
            <label class="txt-label" for="">Phòng ban:</label>
            <p-dropdown [options]="dmPhongban" optionValue="ten_phongban" optionLabel="ten_phongban"
              placeholder="Chọn..." [style]="{'minWidth':'100%'}" formControlName="phongban"></p-dropdown>
          </div>
        </div>

        <div class="flex ">
          <button (click)="updateForm()" [disabled]="formData.invalid" pButton pRipple
            class=" mr-2 max-w-10rem p-button-success" icon="pi pi-save" label="Xác nhận"></button>
          <button pRipple pButton type="button" class="p-button p-button-danger" icon="pi pi-times"
            (click)="formCancel()"></button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
