<div class="grid">
  <div class="card col-5 container-left m-1">

    <div class="img-rounder m-3">
      <div class="mb-3">
      <img src="../../../../../../assets/images/a_none.jpg">
      </div>
      <p style="font-size: 18px;width: 100%;" class="ovic-form-ui__head--border-bottom text-700 font-bold text-center">
        Thông tin lý lịch nhân sự</p>
    </div>
    <div class="p-4 ml-5 -mt-3" *ngFor="let data of data_ns">
      <div class="text-lg font-weight-bold">Họ và tên:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.hoten}}
        </p>
      </div>
      <div class=" text-lg font-weight-bold">giới tính:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.gioitinh}}
        </p>
      </div>
      <div class=" text-lg font-weight-bold">Ngày sinh:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.ngaysinh|date:"dd/MM/yyyy"}}
        </p>
      </div>
      <div class=" text-lg font-weight-bold">Quê quán:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.quequan}}
        </p>
      </div>
      <div class=" text-lg font-weight-bold">Nơi thường chú:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.noithuongtru}}
        </p>
      </div>
      <div class="row ml-0">
        <div class=" text-lg font-weight-bold">Số điện thoại:
          <p class="text-base font-weight-normal d-sm-inline-block">
            {{data.dienthoai}}
          </p>
        </div>
        <div class="ml-6 text-lg font-weight-bold">Email:
          <p class="text-base font-weight-normal d-sm-inline-block">
            {{data.email}}
          </p>
        </div>
      </div>
      <div class=" text-lg font-weight-bold">Chức danh:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.chucdanh}}
        </p>
      </div>
      <div class=" text-lg font-weight-bold">Chức vụ:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.chucvu}}
        </p>
      </div>
      <div class="row ml-0">
        <div class=" text-lg font-weight-bold">Dân tộc:
          <p class="text-base font-weight-normal d-sm-inline-block">
            {{data.dantoc}}
          </p>
        </div>
        <div class="ml-8 text-lg font-weight-bold">Tôn giáo:
          <p class="text-base font-weight-normal d-sm-inline-block">
            {{data.tongiao}}
          </p>
        </div>
      </div>
      <div class=" text-lg font-weight-bold">Phòng ban:
        <p class="text-base font-weight-normal d-sm-inline-block">
          {{data.phongban}}
        </p>
      </div>


    </div>

  </div>


  <div class="col container-right">

    <app-nhansu-danhhieu-thidua></app-nhansu-danhhieu-thidua>
    <br>
    <app-nhansu-quatrinh-daotao></app-nhansu-quatrinh-daotao>
    <br>
    <app-nhansu-quatrinh-congtac></app-nhansu-quatrinh-congtac>
    <br>
    <app-nhansu-quatrinh-xuatngoai></app-nhansu-quatrinh-xuatngoai>
    <br>
    <app-nhansu-quatrinh-hopdong></app-nhansu-quatrinh-hopdong>
    <br>
    <app-nhansu-quatrinh-dongbaohiem></app-nhansu-quatrinh-dongbaohiem>
    <br>
    <app-nhansu-trinhdo-vanhoa></app-nhansu-trinhdo-vanhoa>
    <br>
    <app-nhansu-trinhdo-chuyenmon></app-nhansu-trinhdo-chuyenmon>
    <br>
    <app-nhansu-trinhdo-tinhoc></app-nhansu-trinhdo-tinhoc>
    <br>
    <app-nhansu-trinhdo-ngoaingu></app-nhansu-trinhdo-ngoaingu>
    <br>
    <app-nhansu-trinhdo-chinhtri></app-nhansu-trinhdo-chinhtri>

  </div>
</div>
