<div class="p-card intro-y">
  <div class="danh-sach-ho-so__head p-3 flex flex-wrap justify-content-between">
    <div>
      <input type="text" pInputText [(ngModel)]="search" placeholder="Tìm kiếm" (ngModelChange)="searchData()"
        class="p-inputtext p-component p-element" />
      <p-button label="Thêm Kế hoạch" styleClass="p-button-link" icon="pi pi-plus" (click)="btnAdd()"></p-button>
    </div>

    <div class="flex justify-content-center text-center">
      <p-button label="Xuất excel" styleClass="p-button-link" class="flex justify-content-center text-center"
        icon="pi pi-file-export" (click)="exportExcel()"></p-button>

    </div>

  </div>
  <div class="danh-sach-ho-so__body">
    <p-table [value]="keHoacHocTapBoiTuong" [rows]="10" [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Kế hoạch học tập bồi dưỡng</th>
          <th class="text-center">Thời gian</th>
          <th class="text-center">Hình thức đào tạo</th>
          <th class="text-center">Địa điểm</th>
          <th class="text-center">Số lượng</th>
          <th class="text-center" style="width: 10rem;">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-DanhSach>
        <tr>
          <td class="text-left">{{DanhSach.ten_kehoach}}</td>
          <td class="text-center">{{DanhSach.thoigian}}</td>
          <td class="text-center">{{DanhSach.hinhthuc_daotao}}</td>
          <td class="text-center">{{DanhSach.diadiem_daotao}}</td>
          <td class="text-center">{{DanhSach.soluong}}</td>

          <td class="text-center">
            <button pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-success" icon="pi pi-file"
              (click)="btnDetail(DanhSach)">
            </button>
            <button pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-primary" icon="pi pi-file-edit"
              (click)="btnEdit(DanhSach)">
            </button>
            <button pRipple pButton type="button"
              class="p-button p-button-icon p-button-text p-button-rounded p-button-danger" icon="pi pi-trash"
              (click)="btnDelete(DanhSach)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<ng-template #nsFormEdit let-c="close">
  <div class="container-scroll">
    <div class="model-header container mt-2">
      <h4 class="modal-title">{{formState.formTitle}}</h4>

    </div>
    <div class="modal-body ovic-modal-body">
      <div class="card" style="padding: 20px;">
        <form [formGroup]="formData">

          <div class="row ">
            <div class="col">
              <label class="txt-label" for="">Mã kế hoạch:</label>
              <input type="text" placeholder="Mã số" class="p-inputtext p-component p-element w-full"
                formControlName="ma_kehoach">
            </div>
            <div class="col">
              <label class="txt-label" for="">Tên kế hoạch:</label>
              <input type="text" placeholder="Tên kế hoạch" class="p-inputtext p-component p-element w-full"
                formControlName="ten_kehoach">
            </div>
          </div>

          <div class=" row mb-2">
            <div class="col">
              <label class="txt-label" for="">Nội dung:</label>
              <textarea class="p-inputtextarea p-inputtext p-component p-element w-full" [rows]="5" [cols]="30"
                formControlName="noidung_kehoach"></textarea>
            </div>
          </div>

          <div class=" row mb-2">
            <div class="col">
              <label class="txt-label" for="">Hình thức đào tạo:</label>
              <input type="text" placeholder="Hình thức đào tạo" class="p-inputtext p-component p-element w-full"
                formControlName="hinhthuc_daotao">
            </div>
            <div class="col">
              <label class="txt-label" for="">Địa điểm:</label>
              <input type="text" placeholder="Địa điểm" class="p-inputtext p-component p-element w-full"
                formControlName="diadiem_daotao">
            </div>
          </div>

          <div class=" row mb-2">
            <div class="col">
              <label class="txt-label" for="">Thời gian:</label>
              <p-inputMask mask="99/9999 - 99/9999" placeholder="mm/yyyy - mm/yyyy" slotChar="mm/yyyy - mm/yyyy"
                [style]="{'minWidth':'100%'}" formControlName="thoigian"></p-inputMask>
            </div>
            <div class="col">
              <label class="txt-label" for="">Số lượng:</label>
              <input type="text" placeholder="Số lượng" class="p-inputtext p-component p-element w-full"
                formControlName="soluong">
            </div>
          </div>
          <div class="row mb-2">
            <label class="txt-label" for="">File quyết định:</label>
          </div>
          <div class="field form-name flex flex-column pb-1" style="flex: 1;">
            <button (click)="myUploader()" class="btn btn-primary"><i class="pi pi-upload"></i> Upload</button>

            <br>
            <div class="onShowFile flex justify-content-between" *ngFor="let f of fileUploaded">
              <div class="">
                <label class="txt-label align-items-center">{{f.title}}</label>
              </div>
              <div class="inline">
                <button pButton pRipple (click)="downloadFile(f)" type="button" icon="pi pi-download"
                  class="p-button-rounded p-button-primary p-button-text"></button>
                <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteFile(f)"
                  class="p-button-rounded p-button-danger p-button-text"></button>
              </div>
            </div>
          </div>
          <br>
        </form>
        <input class="d-none" #fileChooser type="file" multiple="true" (change)="fileChnages($event)">
        <div class="flex ">
          <button (click)="updateForm()" [disabled]="formData.invalid" pButton pRipple
            class=" mr-2 max-w-10rem p-button-success" icon="pi pi-save" label="Xác nhận"></button>
          <button pRipple pButton type="button" class="p-button p-button-danger" icon="pi pi-times"
            (click)="btnCancel()"></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>